.container.blog-content
  .row
    .col-sm-8.blog-main
      .row
        .col-sm-6
          section.blog-post
            .panel.panel-default
              img.img-responsive(src='img/technology/unsplash-2.jpg')
              .panel-body
                .blog-post-meta
                  span.label.label-light.label-primary News
                  p.blog-post-date.pull-right February 16, 2016
                .blog-post-content
                  a(href='post-image.html')
                    h2.blog-post-title Like a little drop of ink
                  p
                    | Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem.
                  a.btn.btn-info(href='post-image.html') Read more
                  a.blog-post-share.pull-right(href='#')
                    i.material-icons 
          // /.blog-post
          section.blog-post
            .panel.panel-default
              .panel-body
                .blog-post-meta
                  span.label.label-light.label-warning Apps
                  p.blog-post-date.pull-right February 5, 2016
                .blog-post-content
                  a(href='post-image.html')
                    h2.blog-post-title Cinderella through the room
                  p
                    | Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem.
                  a.btn.btn-info(href='post-image.html') Read more
                  a.blog-post-share.pull-right(href='#')
                    i.material-icons 
          // /.blog-post
          section.blog-post
            .panel.panel-default
              img.img-responsive(src='img/technology/unsplash-3.jpg')
              .panel-body
                .blog-post-meta
                  span.label.label-light.label-primary News
                  p.blog-post-date.pull-right Januari 9, 2016
                .blog-post-content
                  a(href='post-image.html')
                    h2.blog-post-title I have arms for them
                  p
                    | Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem.
                  a.btn.btn-info(href='post-image.html') Read more
                  a.blog-post-share.pull-right(href='#')
                    i.material-icons 
          // /.blog-post
        .col-sm-6
          section.blog-post
            .panel.panel-default
              .panel-body
                .blog-post-meta
                  span.label.label-light.label-info Branding
                  p.blog-post-date.pull-right Februari 11, 2016
                .blog-post-content
                  a(href='post-image.html')
                    h2.blog-post-title In a glass of water
                  p
                    | Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem.
                  p
                    | Ut turpis felis, pulvinar a semper sed, adipiscing id dolor. Pellentesque auctor nisi id magna consequat sagittis. Curabitur dapibus enim sit amet elit pharetra.
                  a.btn.btn-info(href='post-image.html') Read more
                  a.blog-post-share.pull-right(href='#')
                    i.material-icons 
          // /.blog-post
          section.blog-post
            .panel.panel-default
              img.img-responsive(src='img/technology/unsplash-4.jpg')
              .panel-body
                .blog-post-meta
                  span.label.label-light.label-primary News
                  p.blog-post-date.pull-right January 24, 2016
                .blog-post-content
                  a(href='post-image.html')
                    h2.blog-post-title I glide and swan
                  p
                    | Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem.
                  a.btn.btn-info(href='post-image.html') Read more
                  a.blog-post-share.pull-right(href='#')
                    i.material-icons 
          // /.blog-post
          section.blog-post
            .panel.panel-default
              .panel-body
                .blog-post-meta
                  span.label.label-light.label-warning Apps
                  p.blog-post-date.pull-right January 3, 2016
                .blog-post-content
                  a(href='post-image.html')
                    h2.blog-post-title In the universe
                  p
                    | Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem.
                  p
                    | Ut turpis felis, pulvinar a semper sed, adipiscing id dolor. Pellentesque auctor nisi id magna consequat sagittis. Curabitur dapibus enim sit amet elit pharetra.
                  a.btn.btn-info(href='post-image.html') Read more
                  a.blog-post-share.pull-right(href='#')
                    i.material-icons 
          // /.blog-post
      nav
        ul.pager
          li
            a.withripple(href='#') Previous
          li
            a.withripple(href='#') Next
    // /.blog-main
    .col-sm-3.col-sm-offset-1.blog-sidebar
      include sidebar.pug
  // /.row
// /.container
