footer.blog-footer
  #links
    .container
      .row
        .col-sm-2
          i.material-icons.brand 
        .col-sm-8.text-center.offset
          p &copy; #{theme.year}
        .col-md-2.text-right.offset
          ul.list-inline
            +scoial()

<button class="material-scrolltop primary" type="button"></button>