doctype
html(lang=config.language)
  head
    include head.pug
  body
    block navbar
    .container.blog-content
      .row
        block container
      // /.row
    // /.container

    block footer

    include script.pug