script(src='/js/jquery-1.11.3.min.js')
script(src='/js/bootstrap.min.js')
script(src='/js/ripples.min.js')
script(src='/js/material.min.js')
script(src='/js/material-scrolltop.js')
script(src="/js/highlight.pack.js")
script(src='/js/main.js')
script.
  $.material.init();
  $('body').materialScrollTop();