.sidebar-module
  .form-group
    input.form-control(type='text', placeholder='Search')
// /.sidebar-module
.sidebar-module
  .panel.panel-default
    .panel-body
      h4 About
      p
        | Donec ut libero sed arcu vehicula ultricies a non tortor. 
        em Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        |  Aenean ut gravida lorem.
// /.sidebar-module
.sidebar-module
  .panel.panel-default
    .panel-body
      h4 Categories
      ol.categories.list-unstyled
        li
          a.label.label-light.label-primary(href='filter-category.html') News
          span.label.label-light.label-default.pull-right 8
        li
          a.label.label-light.label-warning(href='filter-category.html') Apps
          span.label.label-light.label-default.pull-right 5
        li
          a.label.label-light.label-info(href='filter-category.html') Branding
          span.label.label-light.label-default.pull-right 9
// /.sidebar-module
.sidebar-module
  .panel.panel-default
    .panel-body
      h4 Archives
      ol.list-unstyled
        li
          a(href='filter-date.html') February 2016
        li
          a(href='filter-date.html') January 2016
        li
          a(href='filter-date.html') December 2015
        li
          a(href='filter-date.html') November 2015
        li
          a(href='filter-date.html') October 2015
        li
          a(href='filter-date.html') September 2015
        li
          a(href='filter-date.html') August 2015
        li
          a(href='filter-date.html') July 2015
        li
          a(href='filter-date.html') June 2015
        li
          a(href='filter-date.html') May 2015
        li
          a(href='filter-date.html') April 2015
        li
          a(href='filter-date.html') March 2015
// /.sidebar-module
.sidebar-module
  .panel.panel-default
    .panel-body
      h4 Newsletter
      .form-group.label-floating
        label.control-label(for='name') Name
        input#name.form-control.input-sm(type='text')
      .form-group.label-floating
        label.control-label(for='email') E-mail
        input#email.form-control.input-sm(type='text')
      a.btn.btn-default.btn-raised.btn-sm.btn-block(href='#') Subscribe
// /.sidebar-module
.sidebar-module
  .panel.panel-default
    .panel-body
      h4 Elsewhere
      ol.list-unstyled
        li
          a(href='#') Facebook
        li
          a(href='#') Google+
        li
          a(href='#') Twitter
// /.sidebar-module
